---
import { Image } from "astro:assets";
import SocialLink from "./ui/SocialLink.astro";
import DiegoPhoto from "../assets/me2.png";
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";

interface SocialLink {
  url: string;
  icon: string;
}

const socialLinks: SocialLink[] = [
  {
    url: "https://github.com/dartilesm",
    icon: "github",
  },
  {
    url: "https://linkedin.com/in/dartiles",
    icon: "linkedin",
  },
  {
    url: "https://x.com/dartilesm",
    icon: "x",
  },
  {
    url: "mailto:diego@dartiles.dev?subject=I'm interested in your profile. Reaching out from dartiles.me",
    icon: "mail",
  },
];
---

<section class='py-16 sm:py-20'>
  <div class='flex flex-col-reverse gap-12 md:flex-row md:gap-8'>
    <div class='space-y-4 max-w-[500px] w-full'>
      <h1 class='text-3xl font-bold tracking-tight sm:text-5xl'>Hi, I'm Diego Artiles</h1>
      <h2 class='text-xl font-semibold text-indigo-600 dark:text-indigo-400'>Frontend Developer</h2>
      <p class='text-slate-600 dark:text-slate-400 max-w-prose'>
        Experienced Frontend Developer specializing in modern web technologies and performance
        optimization. With 7+ years of hands-on experience building scalable applications using
        React, Next.js, Vue, and Angular. Passionate about creating engaging user experiences
        through interactive animations and efficient, maintainable code.
      </p>
      <ul class='flex'>
        {
          socialLinks.map((socialLink) => (
            <li>
              <Button
                href={socialLink.url}
                target='_blank'
                rel='noopener noreferrer'
                variant='icon'
              >
                <Icon name={socialLink.icon} />
              </Button>
            </li>
          ))
        }
        <li>
          <Button
            href='https://dartiles.link/cv'
            variant='primary'
            target='_blank'
            rel='noopener noreferrer'
            class='group'
          >
            Resume
            <Icon
              name='arrow-right'
              slot='icon'
              class='group-hover:translate-x-1 transition-transform duration-200'
            />
          </Button>
        </li>
      </ul>
    </div>
    <div class='flex justify-end max-md:justify-center w-full'>
      <div>
        <Image src={DiegoPhoto} alt='Diego Artiles' class='aspect-[9/11] max-w-60' />
      </div>
    </div>
  </div>
</section>
