---
interface Props {
  class?: string;
  variant?: "default" | "background";
}

const { class: className = "", variant = "default" } = Astro.props;
---

{
  variant === "default" ? (
    <article class:list={["bg-slate-100 dark:bg-slate-900 rounded-lg overflow-hidden", className]}>
      <slot />
    </article>
  ) : (
    <article class:list={["relative rounded-lg overflow-hidden group", className]}>
      <div class='absolute inset-0 bg-gradient-to-b from-transparent via-slate-950/50 to-slate-950/80' />
      <div class='absolute inset-0'>
        <slot name='background' />
      </div>
      <div class='relative -z-10 h-full'>
        <slot />
      </div>
    </article>
  )
}
