---
import Button from "./Button.astro";

interface Props {
  platform: string;
  url: string;
  icon: ImageMetadata | string;
}

const { platform, url } = Astro.props;
---

<Button href={url} target='_blank' rel='noopener noreferrer' variant='icon'>
  {platform}
</Button>
