---
interface Props {
  platform: string;
  url: string;
  icon: string;
}

const { platform, url } = Astro.props;
---

<a
  href={url}
  target='_blank'
  rel='noopener noreferrer'
  class='text-slate-600 dark:text-slate-400 hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors'
>
  {platform}
</a>
