---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
---

<Button variant='icon' id='themeToggle' aria-label='Toggle theme' class='duration-0'>
  <Icon name='sun' class='sun-icon' />
  <Icon name='moon' class='moon-icon' />
</Button>

<style>
  :global(.dark) .sun-icon {
    display: block;
  }
  :global(.dark) .moon-icon {
    display: none;
  }
  :global(html:not(.dark)) .moon-icon {
    display: block;
  }
  :global(html:not(.dark)) .sun-icon {
    display: none;
  }
</style>

<script>
  function getTheme() {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme") ?? "";
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
  }

  function setTheme(theme: string) {
    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
    localStorage.setItem("theme", theme);
  }

  // Set initial theme
  setTheme(getTheme());

  // Handle theme toggle click
  const themeToggle = document.getElementById("themeToggle");
  themeToggle?.addEventListener("click", () => {
    const isDark = document.documentElement.classList.contains("dark");
    setTheme(isDark ? "light" : "dark");
  });

  // Handle system theme changes
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (e) => {
    if (!localStorage.getItem("theme")) {
      setTheme(e.matches ? "dark" : "light");
    }
  });
</script>
